pdfplumber
pdfminer.six
pytesseract
paddlepaddle
paddleocr
easyocr
opencv-python-headless
openpyxl
pandas
spacy==3.7.2
dateparser
langgraph
langchain
langchain-community
chromadb
sentence-transformers
scikit-learn
scipy
pyyaml
fastapi
uvicorn
streamlit
plotly
streamlit-aggrid
sqlalchemy
python-dotenv
jinja2
pytest
pytest-cov
requests
pillow
reportlab
